<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastrar Evento</title>
</head>
<body>
	<a href="/eventos">Voltar para eventos</a>
	
	<form action="cadastrarEvento" method="post">
		<label>Nome do Evento</label>
		<input type="text" name="nomeEvento"><br/>
		
		<label>Local</label>
		<input type="text" name="local"><br/>
		
		<label>Data</label>
		<input type="date" name="data"><br/>
		
		<label>Horario</label>
		<input type="time" name="horario"><br/>
		
		<input type="submit" value="Salvar">
	</form>
	
	<th:block th:include="event/mensagemValidacao"></th:block>
	
</body>
</html>