<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Detalhes</title>
</head>
<body>
	<a href="/eventos">Voltar para eventos</a>
		<table>
			<thead>
				<tr>
					<th>Nome do evento</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horario</th>
				</tr>
			</thead>
				
		
			
		<tr th:each="evento:${evento}">
		
			<td><span th:text="${evento.nomeEvento}">Teste</span></td>
			<td><span th:text="${evento.local}">Teste</span></td>
			<td><span th:text="${evento.data}">Teste</span></td>
			<td><span th:text="${evento.horario}">Teste</span></td>
		
		</tr>
				
	</table>

	<form method="post">
		<label>Nome</label>
		<input type="text" name="nomeConvidado">
		
		<label>RG</label>
		<input type="text" name="rg">
		
		<input type="submit" value="Salvar">
		
	</form>
	
	<th:block th:include="evento/mensagemValidacao"></th:block>
		
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>RG</th>
			</tr>
		</thead>
	
		<tr th:each="convidado:${convidado}">
			<td th:text="${convidado.nomeConvidado}"><span></span></td>
			<td th:text="${convidado.rg}"><span></span></td> 
			<td><a th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg).build())}">Deletar</a></td>
		</tr>
	</table>
</body>
</html>