<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Eventos</title>
</head>
<body>
	<a href="/cadastrarEvento">Cadastrar Evento</a>
	<a href="/eventos">Abrir lista de eventos</a>
		<h2>LISTA DE EVENTOS</h2>

			<table>
				<thead>
					<tr>
						<th>Nome do evento</th>
						<th>Local</th>
						<th>Data</th>
						<th>Horario</th>
					</tr>
				</thead>
				
					<tr th:each="evento:${evento}">
						<td><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo).build())}"><span th:text="${evento.nomeEvento}"></span></a></td>
						<td><span th:text="${evento.local}"></span></td>
						<td><span th:text="${evento.data}"></span></td>
						<td><span th:text="${evento.horario}"></span></td>
						<td><a th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.codigo).build())}">Deletar</a></td>
					</tr>
			</table>

</body>
</html>